/*    Main Color  orange : FFC133  et Bleu :61B5FF  + noir et blanc*/

/* ---------------- Font Section ---------------*/ 
@font-face {
    font-family: antonFont;
    src: url(../font/Anton.woff);
}
@font-face {

    font-family: gloriaFont;
    src: url(../font/Gloria.woff)
}

@font-face {

    font-family: consoleFont;
    src: url(../font/console.woff)
}
/*--------------------------------------------*/


.name-style{

    font-family: gloriaFont;
    font-size: 45px;
}


.bck-home{
    height: 100vh;
    min-height: 500px;
    background-image: url(../img/background_name.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pres-image {
    display: block;
    width: 50%;
    height: auto;
}

.pres-text{


    padding-left: 10em;


}
/*   ---------------  Titre des catégories -------------- */
.title {

    font-family: antonFont;
    font-size: 40px;
}

.subtitle {

    font-family: consoleFont;
    font-size: 25px;
    color: #808080 ;

}
/*--------------------------------------------*/



/* ----------Gestion du scrolling -------------*/
html {
    scroll-behavior: smooth;
}
/*--------------------------------------------*/
.bold-word{

    font-weight: bold;
}
.color-ani{

    color:#61B5FF ;
}

.py-3{

    padding: 0 !important;
}

/*Gestion de du desing de chaque section */

/*--------- CV Section --------*/

.cv-section {
    background-color: #FFC133;
    border: solid black 2px;
}
/*--------- Contact Section --------*/
.contact-section {
    background-color: #61B5FF;
    border: solid black 2px;
}

/*--------- Techno Section --------*/
.technos-section {


}
.smaler-text{

    color: gray;
    font-size: 18px;

}
.title-tec{

    font-family: antonFont;
    font-size: 25px;
}



/*-----------------------*/
/*--------- Project Section --------*/
.projet-section {


}
text-project{

    color: black;

}

.divers-section{



}
/*--------- Bidev Section --------*/
.container-bidev:hover .overlay {
    width: 100%;
    left: 0;
}
/*--------- admin Section --------*/
.container-admin:hover .overlay {
    width: 100%;
    left: 0;
}

/*--------- Restau Section --------*/
.container-restau:hover .overlay {
    width: 100%;
    left: 0;
}

/*--------Ovelay sur les projets------------*/


.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #FFC133 ;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}



.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}


/* ---------  Footer ---------------*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* CSS Progress bar scroll */

.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progress-bar {
    height: 8px;
    background: black;
    width: 0%;
}

.scrollBar {
    position: fixed;
    padding-top: 58px;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}