@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap&subset=cyrillic-ext");


body {
  color: #9c9c9c;
  background-color: #121D29;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  overflow-x: hidden;

}
.date-v{
  margin-left: 10px;
  font-size: medium;
}
.desc-v{
  margin-top: 70px;
}
.desc-v2{
  margin-top: 50px;
}
.imgtitle{
    margin-top: 0px;
}
.title{
  margin-left: 0px;
}
.gradient-v{
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(159,255,205,1) 49%, rgba(159,255,205,1) 70%, rgba(47,223,132,1) 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
  margin-left: 67px;

}
@media screen and (max-width: 375px) {
  .gradient-v{
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(159,255,205,1) 49%, rgba(159,255,205,1) 70%, rgba(47,223,132,1) 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
  margin-left: 30px;

  }
}
img {
  max-width: 100%;
  height: auto;
}

.testo{
  margin-top: 100px;
  background-color: rgb(30, 48, 68);
  border-radius: 10px;
  padding-bottom: 20px;
  height: 250px;
}
@media screen and (max-width: 948px) {
  .testo{
    margin-top: 100px;
    background-color: rgb(30, 48, 68);
    border-radius: 10px;
    padding-bottom: 20px;
    height: 300px;
  }
}
@media screen and (max-width: 820px) {
  .testo{
    margin-top: 100px;
    background-color: rgb(30, 48, 68);
    border-radius: 10px;
    padding-bottom: 20px;
    height: 350px;
  }
}
@media screen and (max-width: 765px) {
  .testo{
    margin-top: 100px;
    background-color: rgb(30, 48, 68);
    border-radius: 10px;
    padding-bottom: 20px;
    height: 500px;
  }
}
@media screen and (max-width: 498px) {
  .testo{
    margin-top: 100px;
    background-color: rgb(30, 48, 68);
    border-radius: 10px;
    padding-bottom: 20px;
    height: 600px;
  }
}
@media screen and (max-width: 365px) {
  .testo{
    margin-top: 100px;
    background-color: rgb(30, 48, 68);
    border-radius: 10px;
    padding-bottom: 20px;
    height: 700px;
  }

}
.marging-bottom50{
  margin-bottom: 50px;
}


.testIllus{
  margin-top: -80px;
  border-radius: 30px;
  margin-left: 45px;
}


@media screen and (max-width: 921px) {
  .testIllus{
    margin-top: -80px;
    border-radius: 30px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 541px) {
  .testIllus{
    margin-top: -80px;
    border-radius: 30px;
    margin-left: 3px;
  }
}



@media screen and (max-width: 767px) {
  .imgtitle{
  margin-top: -420px;
  }
  .desc-v{
    margin-bottom: 200px;
  }
  .desc-v2{
    margin-top: 250px;
  }
}

@media screen and (max-width: 497px) {
  .imgtitle{
  margin-top: -490px;
  }
  .desc-v{
    margin-bottom: 200px;
  }
  .desc-v2{
    margin-top: 250px;
  }
}

@media screen and (max-width: 375px) {
  .imgtitle{
    margin-top: -520px;
  }
  .desc-v2{
      margin-top: 250px;
    }
}
@media screen and (max-width: 365px) {
  .imgtitle{
    margin-top: -580px;
  }
  .desc-v2{
    margin-top: 250px;
  }

}
@media screen and (max-width: 280px) {
  .imgtitle{
    margin-top: -640px;
  }
  .desc-v2{
    margin-top: 250px;
  }
  .title{
    margin-left: 5px;
  }
}

@media screen and (max-width: 276px) {
  .testo{
    margin-top: 100px;
    background-color: rgb(30, 48, 68);
    border-radius: 10px;
    padding-bottom: 20px;
    height: 900px;
  }

  .imgtitle{
    margin-top: -690px;
  }
  .desc-v2{
    margin-top: 250px;
  }
  .title{
    margin-left: 5px;
  }
}

@media screen and (max-width: 222px) {
  .testo{
    margin-top: 100px;
    background-color: rgb(30, 48, 68);
    border-radius: 10px;
    padding-bottom: 20px;
    height: 1100px;
  }

  .imgtitle{
    margin-top: -890px;
  }
  .desc-v2{
    margin-top: 250px;
  }
  .title{
    margin-left: 5px;
  }
}
.background-blue {
  background: #1f2336;
}

h2, h3 {
  color: #e6e6e6;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 30px;
}

a {
  color: inherit;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.disable-selection{
  
    
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

::selection {
  color: #1f2336;
  background: #3fc0a4;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}



/* main.content {
  margin-bottom: 50px;
  width: 875px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
} */

section {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}
section.white-bg {
  background: #1f2336;
}
section.padding {
  padding: 80px 50px;
}
section.padding-30 {
  padding: 30px;
  text-align: center;
}

.section-title {
  margin: 0;
}
.section-title:after {
  content: "";
  background: #3fc0a4;
  border-radius: 25px;
  display: block;
  height: 5px;
  margin-top: 14px;
  width: 50px;
}

.blog-item .meta {
  color: #ADADAD;
  font-size: 12px;
}


.shadow-blue {
  -webkit-box-shadow: 0px 6px 15px 0px rgba(74, 99, 231, 0.1);
  -moz-box-shadow: 0px 6px 15px 0px rgba(74, 99, 231, 0.1);
  box-shadow: 0px 6px 15px 0px rgba(74, 99, 231, 0.1);
}

.shadow-dark {
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
}

.btn {
  border-radius: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  padding: 8.5px 20px;
  position: relative;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-border-light {
  color: #3fc0a4;
  border: solid 1px #3fc0a4;
  background: transparent;
  
-webkit-box-shadow: 0px 0px 20px 0px #3fc0a4;
box-shadow: 0px 0px 105px 0px #3fc0a4;
}
.btn-border-light:hover {
  color: #1f2336;
  background: #1FBF5F;
  background: linear-gradient(90deg, #3fc0a4 0%, #3fc081 100%);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
}

 .btn-lg {
  padding: 12px 26px;
  font-size: 16px;
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.twitterAccount{
  color: rgb(45, 186, 251);
  font-size: 15px;
  font-weight: bold;
}

.forum{
  color : darkblue;
  font-size: 15px;
  font-weight: bold;
}


/* @media (max-width: 1200px) and (min-width: 991px) {
  .site-wrapper {
    max-width: 970px;
  }

  main.content {
    width: 675px;
  }
}
@media only screen and (max-width: 991px) {
  .site-wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  main.content {
    margin-top: 20px;
    float: none !important;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {

  .blog-item {
    margin: 15px 0;
  }
} */
